<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a coffee to the database</title>
</head>
<body>
<h1>Create-a-coffee</h1>
<form action="/coffee/create" method="POST">
    <label for="brand">Brand:</label>
    <input type="text" name="brand" id="brand"><br>
    <label for="origin">Origin:</label>
    <input type="text" name="origin" id="origin"><br>
    <label for="roast">Roast:</label>
    <input type="text" name="roast" id="roast"><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>