<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
    <h1>Create Post</h1>
    <form th:method="POST" th:action="@{/posts/create}" th:object="${post}">
        <div>
            <label for="title">Title</label>
            <br>
            <input th:field="*{title}" name="title" id="title" type="text" placeholder="Please Enter a Title... ">
        </div>
        <div>
            <label for="body">Body</label>
            <br>
            <textarea th:field="*{body}" name="body" id="body" cols="30" rows="10" placeholder="Please Enter a Body... "></textarea>
        </div>
        <div>
            <label for="image-1">Image 1</label>
            <input id="image-1" name="urls" type="url" placeholder="Enter Image URL">
            <br>
            <label for="image-2">Image 2</label>
            <input id="image-2" name="urls" type="url" placeholder="Enter Image URL">
        </div>
        <button>Create Post</button>
    </form>
</body>
</html>