<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Post Form</title>
</head>
<body>
    <h1>Edit Post</h1>
    <form th:method="POST" th:object="${post}">
        <div>
            <label for="title">Title</label>
            <br>
            <input th:field="*{title}" name="title" id="title" type="text" placeholder="Please Enter a Title... " th:value="${post.title}">
        </div>
        <div>
            <label for="body">Body</label>
            <br>
            <textarea th:field="*{body}" name="body" id="body" cols="30" rows="10" placeholder="Please Enter a Body... " th:text="${post.body}"></textarea>
        </div>
        <button>Edit Post</button>
    </form>
</body>
</html>