<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <h1>Post Creation</h1>
    <form action="/posts/create" method="POST">
        <label for="title">Title</label>
        <input name="title" id="title" type="text" placeholder="Please Enter a Title: ">
        <label for="body">Body</label>
        <textarea name="body" id="body" placeholder="Please Enter a Body: "></textarea>
        <button type="submit">Submit</button>
    </form>
</body>
</html>