<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dice Roll</title>
</head>
<body>
<h1>Dice Roll</h1>
<p>Here you will make a guess of what number will be rolled on a 6 sided dice.</p>
<br>
<h3>Select your guess: </h3>
<ul>
    <li><a href="/roll-dice/1">One</a></li>
    <li><a href="/roll-dice/2">Two</a></li>
    <li><a href="/roll-dice/3">Three</a></li>
    <li><a href="/roll-dice/4">Four</a></li>
    <li><a href="/roll-dice/5">Five</a></li>
    <li><a href="/roll-dice/6">Six</a></li>
</ul>
</body>
</html>